@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
  font-family: 'Poppins', sans-serif;
}

/********** App Styling ***************/
.container-cards{
  display: flex;
  flex-wrap: wrap;
}
.container-parts{
  display: flex;
  margin: 30px;
  justify-content: space-between;
}
.container-sidebar{
  margin-right: 200px;
}
.container-sidebar p{
  color: black;
}
.container-right-sidebar{
  border-left: 2px solid #d3d3d3;
}
.container-right-sidebar h1{
  margin-left: 20px;
}



/********** STYLING FOR HEADER *************/

.header-container{
  width: 100vw;
  background: -webkit-radial-gradient(#0a99af,#057586);
  height: 162px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* margin-bottom: 100px; */
}
.header-container h1, p{
  color: aliceblue;
}
.header-container h1{
  font-size: 65px;
}
.header-container p{
  font-size: 18px;
}


/******** Styling For Card ********/

.card-container{
  border: 2px solid #d3d3d3;
  width: 330px;
  height: 340px;
  padding: 7px;
}
.card-container img{
  margin-top: 15px;
  max-width: 300px;
  max-height: 200px;
}
.card-values{
  margin-bottom: 10px;
}
.card-numbering{
  font-size: 16px;
  width: 20px;
  height: 20px;
  background: orange;
  text-align: center;
}
.card-title{
  cursor: pointer;
  color: #007185;
}
.card-rating{
  cursor: pointer;
  font-size: 13px;
}
.card-price{
  display: block;
  cursor: pointer;
  font-size: 15px;
  color: #B12704;
}